header {text-align: center;
}

.navbar{
        color: orange !important;

}
.header {font-family: 'Bangers', cursive;
font-size: 50px;
border: 20px solid black;
padding: 10px;
text-decoration-color: orange;
}
.header {
  text-align:center;
  background: linear-gradient(to bottom, white, black 50%, white);
  background-size: cover;
}

.header .navbar {
  text-align:center;
  margin: 1%;
  padding: 10px;

  }

p {font-family: 'Dancing Script', cursive;
font-size-adjust: auto;
font-size: 28px;
}

#titular {font-size: 25px;
font-weight:bolder;}



h2 {font-family:'Dancing Script', cursive;
font-size: 40px;}

section {width: 48%;
float: left;
margin: 1%;
padding: 10px;
border: 10px solid black;
box-sizing: border-box;
height: 600px;
overflow: auto;
}

aside {width: 48%;
float: left;
margin: 1%;
padding: 10px;
border: 10px solid black;
box-sizing: border-box;
height: 600px;
overflow: auto;
}

footer { clear:both;
padding: 10px;
text-align: center;
}
